body{
margin:0;
	padding:0;
	background-color:#f8f8f8;
}
.book-library{
/* margin:auto; */

	background-color:#ffffff;
    display:flex;
    flex-direction:column;
    
   
}
.author{
	color:#777777;
	
	}
.price{
width:100vh;
	background-color:#2ecc71;
text-align:center;
}


.sej{
display:flex;
	justify-content:center;
	background-color:rgb(46, 204, 113);
}
h1{
	text-align:center;
}



